<ion-view title="Contact" id="page-contact" class="backgrad">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/Logo_ScorpionComputers.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto; margin-top: 20px; margin-bottom: 30px;">
        </div>
        <div id="contact-container3">
            <div id="contact-markdown10" class="show-list-numbers-and-dots center">
                <p>Wanneer u een vraag heeft dan mag u natuurlijk altijd contact met ons opnemen. Dat kan middels onderstaande gegevens.</p>

                <p class="center bold">Bezoek adres:</p>
                <p class="center ">Kerkstraat 1, 3900 Overpelt (België)</p>
                <p class="center bold">Administratief adres:</p>
                <p class="center ">Goudsbloem 52, 5071 EZ Udenhout (Nederland)</p>
                <p class="center bold">Tel. : <a href="tel:+31613493685">+31 (6) 13493685</a></p>
                <p class="center bold">Email: <a href="mailto:info@ScorpionComputers.nl?body={{mailBody}}">info@ScorpionComputers.nl</a></p>
                <p class="center bold">Website: <a href="https://ScorpionComputers.nl">www.ScorpionComputers.nl</a></p>
            </div>
            <div class="card" ng-model="SaveContactMessage" ng-if="SaveContactMessage">
                <div class="item item-text-wrap center">
                    {{SaveContactMessage}}
                </div>
            </div>
            <button class="button button-royal button-full" ng-click="addContact()" ng-if="!SaveContactMessage">
              Voeg toe aan uw contacten
            </button>

            <!--<h3 id="contact-heading3">Contact formulier</h3>
    <div id="contact-container2">
      <form id="contact-form1" class="list">
        <label class="item item-input" id="contact-input2" name="name">
          <span class="input-label">Naam</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="contact-input3" name="email">
          <span class="input-label">E-mail</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="contact-textarea1" name="message">
          <span class="input-label">Bericht</span><textarea placeholder=""></textarea></label>
        <button id="contact-button1" class="button button-dark  button-block icon-right ion-ios-paperplane-outline">Versturen</button>
      </form>
    </div>-->
    </ion-content>
</ion-view>