<ion-side-menus enable-menu-with-back-views="false" class="backgrad-reversed">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-royal">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" id="side-menu">
        <ion-content padding="false" class="side-menu-left ">
            <ion-list id="menu-list">
                <ion-item id="menu-top-header" ui-sref="menu.overzicht" menu-close="" class="">
                    <img src="img/Logo_ScorpionComputers.png" style="width: 100%;">
                    <div class="appversion">Scorpion WC Crush v{{appVersion}}</div>
                </ion-item>
                <ion-item menu-close href="#/app/crush">WC Crush</ion-item>
                <ion-item menu-close href="#/app/contact">Contact</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>