/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light: #fff !default;
$stable: #f8f8f8 !default;
$positive: #387ef5 !default;
$calm: #11c1f3 !default;
$balanced: #33cd5f !default;
$energized: rgb(169, 103, 41) !default;
$assertive: #ef473a !default;
$royal: rgb(67, 36, 8) !default;
$dark: #8D4600 !default;
$base-background-color: $royal;
$base-color: $light;
$menu-bg: transparent;
$link-color: $light;
$link-hover-color: darken($link-color, 15%);
// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;
$refresher-height:60px;
$refresher-icon-color:#000;
$refresher-icon-font-size:30px;
$refresher-text-color:#000 !important;
$refresher-text-font-size:16px;
$refresher-border-color:#ddd;
// Include all of Ionic
.scroll-content {
    & .scroll-refresher {
        & .ionic-refresher-content {
            color: $refresher-text-color;
        }
        & .icon-pulling {
            color: $refresher-icon-color;
        }
    }
}

@import "www/lib/ionic/scss/ionic";
a:link,
a:visited {
    text-decoration: none;
}

.list.card a:link,
.list.card a:visited {
    color: $dark;
}

a:link.underlinedlink {
    text-decoration: underline;
}

.button.button-royal {
    box-shadow: 0px 0px 2px $energized;
    margin-right: 2px;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.pull-right {
    float: right;
}

.appversion {
    font-size: 0.9em;
    color: $light;
    clear: both;
    text-align: right;
    &.below-menu {
        display: block;
        position: absolute;
        bottom: -20px;
        right: 10px;
    }
}

.platform-ios .manual-ios-statusbar-padding {
    padding-top: 20px;
}

.manual-remove-top-padding {
    padding-top: 0px;
}

.manual-remove-top-padding .scroll {
    padding-top: 0px !important;
}

ion-list.manual-list-fullwidth div.list,
.list.card.manual-card-fullwidth {
    margin-left: -10px;
    margin-right: -10px;
}

ion-list.manual-list-fullwidth div.list>.item,
.list.card.manual-card-fullwidth>.item {
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
}

.show-list-numbers-and-dots ul {
    list-style-type: disc;
    padding-left: 20px;
}

.show-list-numbers-and-dots ol {
    list-style-type: decimal;
    padding-left: 20px;
}

#menu-list {
    & .item,
    & .item-complex {
        background-color: transparent;
        & .item-content {
            background-color: transparent;
            color: $light;
        }
    }
    & #menu-top-header {
        font-size: 0.9em;
        padding-left: 30px;
        padding-top: 8%;
        text-align: center;
        & .item-content {
            color: darken($royal, 50%);
            ;
        }
    }
}

.item-body {
    & img {
        max-width: 100%;
    }
}

.backgrad {
    // Needs latest Compass, add '@import "compass"' to your scss
    // Permalink - use to edit and share this gradient:
    // http://colorzilla.com/gradient-editor/#c9de96+0,8ab66b+44,398235+100;Green+3D+%233
    background-color: $royal; // Old browsers
    // @include filter-gradient($royal, $energized, horizontal); // IE6-9 fallback on horizontal gradient
    // @include background-image(linear-gradient(left top, $energized 0%,$dark 44%,$royal 100%));
    background: -moz-linear-gradient(-45deg, $energized 0%, $dark 44%, $royal 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, $energized 0%, $dark 44%, $royal 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, $energized 0%, $dark 44%, $royal 100%);
}

.backgrad-reversed {
    // Needs latest Compass, add '@import "compass"' to your scss
    // Permalink - use to edit and share this gradient:
    // http://colorzilla.com/gradient-editor/#c9de96+0,8ab66b+44,398235+100;Green+3D+%233
    background-color: $royal; // Old browsers
    // @include filter-gradient($royal, $energized, horizontal); // IE6-9 fallback on horizontal gradient
    // @include background-image(linear-gradient(left top, $energized 0%,$dark 44%,$royal 100%));
    background: -moz-linear-gradient(45deg, $royal 0%, $dark 44%, $energized 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, $royal 0%, $dark 44%, $energized 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, $royal 0%, $dark 44%, $energized 100%);
}